body {
    background-image: url(https://i.imgur.com/DhFi99m.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #212121;
    }
.conteudo {
    width: 45%;
    background-color: #fff;
    margin-left: 10%;
    border: solid 25px #fff;
    border-radius: 3px;
    display: inline-block;
    }
.lateral {
    width: 30;
    background-color: #fff;
    margin-left: 10%;    
    border: solid 25px #fff;
    border-radius: 3px;
    display: inline-block;
}
